
html, body {
  color: black;
}

.faq {
  background: linear-gradient(#1e5799, #337ab7);
  padding: 40px 0px 3% 0px;
}

.faq h1{
  margin-top: 60px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  position: relative;
}

.faq h1::after{
  content: '';
  position: absolute;
  width: 40%;
  height: 3px;
  background: #AA3939;
  bottom: 0;
  left: 30%;
}

.answer {
  background-color: #0d2d49;
  display: none;
  padding: 4%;
  border-top: dotted 3px #5C6263;
  color: white;
  clear: both;
  width: 100%;
  font-size: 1em;
  text-align: justify;
  text-indent: 5%;
}

.question {
  background-color: #eeeeee;
  padding: 4%;
  margin-top: 5%;
  float: left;
  width: 100%;
  position: relative;
}

.answer p {
  margin-bottom: 0px;
}

.question:hover {
  cursor: pointer;
  background-color: #e6e6e6;
}

.question h2 {
  font-size: 1em;
  display: block;
  float: left;
  width: 85%;
  font-weight: bold;
  margin-top: 10px;
}

.question .fa-arrow-down{
  font-size: 24px;
  color: #5C6263;
  display: block;
  position: absolute;
  top: 50%;
  right: 5%;
  margin-top: -0.5em;
}

footer {
  background-color: #eeeeee;
  color: black;
}

.rotation {
  animation: rotation;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-play-state: linear;
  animation-fill-mode: forwards;
  transform-origin: center;
}

@keyframes rotation{
  0% {transform: rotate(0deg);}
  100% {transform: rotate(90deg);}
}

.rotationBack {
  animation: rotationBack;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-play-state: linear;
  animation-fill-mode: forwards;
  transform-origin: center;
}

@keyframes rotationBack{
  0% {transform: rotate(90deg);}
  100% {transform: rotate(0deg);}
}
