.faq {
  padding: 40px 0 3% 0;
}

.faq h1{
  margin-top: 60px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  position: relative;
}

.answer {
  background-color: #00353e;
  display: none;
  padding: 4%;
  border-top: solid 3px #000000;
  color: white;
  clear: both;
  width: 100%;
  font-size: .9em;
  text-align: justify;
  box-shadow: 0 0 2px black;
}

.question {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  background-color: #eeeeee;
  padding: 4%;
  margin-top: 5%;
  float: left;
  width: 100%;
  position: relative;
  color: black;
  box-shadow: 0 2px 2px 0 #161616;
}

.answer p:last-of-type {
  margin-bottom: 0;
}

.question:hover {
  cursor: pointer;
  background-color: #e6e6e6;
}

.question h2 {
  font-size: 1em;
  display: block;
  float: left;
  width: 85%;
  font-weight: bold;
  margin-top: 10px;
}

.question .fa-arrow-down{
  font-size: 24px;
  color: #5C6263;
  display: block;
  position: absolute;
  top: 50%;
  right: 5%;
  margin-top: -0.5em;
}

.rotation {
  animation: rotation;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-play-state: linear;
  animation-fill-mode: forwards;
  transform-origin: center;
}

@keyframes rotation{
  0% {transform: rotate(0deg);}
  100% {transform: rotate(90deg);}
}

.rotationBack {
  animation: rotationBack;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-play-state: linear;
  animation-fill-mode: forwards;
  transform-origin: center;
}

@keyframes rotationBack{
  0% {transform: rotate(90deg);}
  100% {transform: rotate(0deg);}
}
