html, body {
  background: linear-gradient(#f8f8f8, #d6d6d6);
  color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 1.1em;
}

@media (max-width: 768px) {
  html, body {
    font-size: 14px;
  }
}

.navbar-custom {
  border-radius: 0;
}

.navbar {
  margin-bottom: 0px;
}

section {
  padding: 0% 15% 5% 15%;
  margin-top: 0px;
}

@media (max-width: 768px) {
  .navbar-custom {
    margin-bottom: 0;
  }
  section {
    padding: 0;
  }
}

@media (min-width: 550px) and (max-width: 1024px) {
  section {
    padding: 0% 6% 2% 6%;
  }
}

.language-content {
  width: 100%;
  background-color: #0a455e;
  -webkit-box-shadow: 10px 10px 33px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 33px -15px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 33px -15px rgba(0,0,0,0.75);
  padding: 0;
  padding-bottom: 40px;
}

.language-content .start-container {
  padding-right: 2px;
  padding-left: 2px;
}

.start-row {
  display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   flex-wrap: wrap;
   margin-top: 60px;
}

.col-header {
  display: flex;
  flex-direction: column;
}

.language-content p {
  margin: 0px;
  padding: 10px;
}

.language-content a {
  color: #AA3939;
}

.language-content .language-logo {
  background: linear-gradient(to right bottom, #076187, #0a455e);
  -webkit-box-shadow: 10px 10px 33px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 33px -15px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 33px -10px rgba(0,0,0,0.75);
  margin-top: 10px;
  border-radius: 50%;
  width: 50%;
  margin-left: 25%;
}

@media (max-width: 768px){
  .language-content .language-logo {
    max-width: 200px;
    margin: auto;
  }
}

ul {
    list-style-type: none;
}

.language-logo img{
  padding: 20px;
  width: 100%;
  height: 100%;
}

.up-to-date {
  box-shadow: 0 2px 8px 0px rgb(25, 25, 25);
  color: #3b3b3b;
  background: linear-gradient(#f8f8f8, #bbbbbb);
}

.content-header  {
  padding-top: 40px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  position: relative;
}

.lang-starter {
  padding: 1%;
  text-align: left;
}
.lang-starter h2 {
  text-align: center;
}

.context-text p{
  text-align: justify;
  padding: 0px 5% 0px 5%;
  text-indent: 5%;
}

#nodejs{
  width: 260px;
  height: 160px;
  padding-top: 70px;
  margin-bottom: 20px;
}

.lang-starter-heading {
  font-size: 3.5em;
  margin-top: 10%;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

@media (min-width: 768px){
  .lang-starter p {
    font-size: 2vw;
    min-width: 12vw;
  }
}
