html, body {
  color: white;
  background: -webkit-linear-gradient(#f8f8f8, #d6d6d6);
  background: linear-gradient(#f8f8f8, #d6d6d6) no-repeat fixed;
  font-size: 1.1em;
}

@media (max-width: 768px) {
  html, body {
    font-size: 14px;
  }
}

section {
  min-height: calc(100vh - 49px);
  padding: 0 16% 60px;
  margin: 0;
}

.language-content {
  width: 100%;
  background-color: #0a455e;
  -webkit-box-shadow: 10px 10px 33px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 33px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 33px -15px rgba(0, 0, 0, 0.75);
  padding: 0 5% 40px;
  margin-top: 50px;
}

@media (max-width: 768px) {
  .navbar-custom {
    margin-bottom: 0;
  }

  section {
    padding: 0;
  }
}

@media (min-width: 550px) and (max-width: 1024px) {
  section {
    padding: 0 6% 2% 6%;
  }
}

.language-content .start-container {
  padding: 0 2px 25px;
}

.start-row {
  margin-top: 60px;
}

.language-content .language-logo {
  background: -webkit-linear-gradient(to right bottom, #076187, #0a455e);
  background: linear-gradient(to right bottom, #076187, #0a455e);
  -webkit-box-shadow: 10px 10px 33px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 33px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 33px -10px rgba(0, 0, 0, 0.75);
  margin-top: 10px;
  border-radius: 50%;
  width: 50%;
  margin-left: 25%;
}

@media (max-width: 768px) {
  .language-content .language-logo {
    max-width: 200px;
    margin: auto;
  }
}

.language-content ul, .language-content ol {
  text-align: left;
}

.language-content table {
   margin: auto;
 }

.language-content table td {
  text-align: left;
  background: #01213a4a;
  box-shadow: 0 0 1px 0 #000000ab;
  padding: 0 10px;
}

.language-content table tr:hover {
  background: #01213a44;
  cursor: pointer;
}

.language-content table td:last-of-type,
.language-content table td:first-of-type {
  text-align: right;
}

.language-logo img {
  padding: 20px;
  width: 100%;
  height: 100%;
}

.up-to-date {
  clear: both;
  box-shadow: 0 2px 8px 0 rgb(25, 25, 25);
  color: #3b3b3b;
  background: -webkit-linear-gradient(#f8f8f8, #bbbbbb);
  background: linear-gradient(#f8f8f8, #bbbbbb);
  display: inline-block;
  padding: 0 15px;
}

.language-content h1 {
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
}

.lang-starter {
  padding: 1%;
  text-align: left;
}

.lang-starter h2 {
  text-align: center;
}

.language-content p {
  text-align: justify;
}

.language-content p img {
  margin: auto;
  display: block;
}

.lang-starter-heading {
  font-size: 3.5em;
  margin-top: 10%;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .lang-starter p {
    font-size: 2vw;
    min-width: 12vw;
  }
}

.book {
  display: inline-block;
  text-align: center;
  padding: 15px;
  width: 300px;
  vertical-align: top;
}

.book img {
  margin: 10px auto;
}

.book a {
  background: #222222;
  border-radius: 5px;
  color: #ffffff;
  display: inline-block;
  margin: 10px auto 10px auto;
  text-align: center;
  border: 0;
  padding: 5px 5px;
}

.book p {
  text-align: center;
  padding: 0;
  margin: 0;
}

.book .helion-ksiazkasm3 {
  font-size: .7em;
}

.book-section p {
  text-align: center;
}

.language-content hr {
  border: 1px solid rgba(255, 255, 255, 0.17);
}

.official-page {
  background: #464646;
  display: inline-block;
  color: black;
  padding: 10px 20px 10px 10px;
  border-radius: 2px;
  margin-top: 20px;
  border: solid 1px #777777;
}

.official-page a {
  text-decoration: none;
}

.official-page:hover {
  background: rgba(9, 27, 34, 0.69);
  cursor: pointer;
}

.recommended-books-list {
  padding: 30px 0;
}

.book-categories {
  display: inline-block;
}

.book-categories span {
  text-align: left;
}

.book-categories p {
  text-align: center;
}

.book-of-a-day {
  display: inline-block;
  background: #103f57;
  -webkit-box-shadow: 10px 10px 33px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 33px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 33px -15px rgba(0, 0, 0, 0.75);
  margin-top: 20px;
  max-width: 90vw;
}

.top-books {
  text-align: left;
}

.promotions-link {
  background: #22303a;
  margin: 15px auto 25px;
  padding: 5px 15px;
  display: block;
  width: max-content;
}

.list-header {
  margin: 0;
  text-align: left !important;
}

.popularity,
.github,
.stackoverflow,
.meetup {
  text-align: justify;
  line-height: 1.4;
  display: flex;
}

.popularity a,
.github a,
.stackoverflow a,
.meetup a {
  display: inline;
}

.popularity .fa,
.github .fa,
.stackoverflow .fa,
.meetup .fa {
  display: inline-block;
  width: 50px;
  flex-shrink: 0;
}

.language-content h4 {
  margin: 0 0 20px 0;
}