html, body {
  background: linear-gradient(#1e5799, #337ab7);
  color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (max-width: 768px) {
  html, body {
    font-size: 14px;
  }
}

.content-header h1 {
  margin: 0;
}

.navbar-custom {
  border-radius: 0;
}

section {
  padding: 0% 15% 5% 15%;
}

.wrapper {
    min-height: calc(100vh - 70px);
}

@media (max-width: 768px) {
  .navbar-custom {
    margin-bottom: 0;
  }
  section {
    padding: 0;
  }
}

@media (max-width: 1024px) {
  section {
    padding: 0% 6% 2% 6%;
  }
}

.language-content {
  width: 100%;
  background-color: #346c93;
  text-align: center;
  -webkit-box-shadow: 10px 10px 33px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 33px -15px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 33px -15px rgba(0,0,0,0.75);
  padding: 0;
}

.language-content p {
  margin-bottom: 0px;
  padding: 10px;
}
.language-content p {
  margin: 0px;

}

.language-content .language-logo {
  background-color: #005B8C;
  -webkit-box-shadow: 10px 10px 33px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 33px -15px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 33px -15px rgba(0,0,0,0.75);
  margin-top: 10px;
  border-radius: 50%;
  width: 100%;
  background-image: url(../img/python.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90% 90%;
}


.language-content .language-logo:after {
    border-radius: 50%;
    content: "";
    display: block;
    height: 0;
    margin-bottom: 20px;
    padding-bottom: 100%;
    width: 100%;
}

.lang-starter {
  padding: 1%;
}


.chart-grade {
  width: 2vh;
  height: 2vh;
  margin: 1vh;
  display: inline-block;
  border-radius: 0.5vh;
}

.language-menu {
  padding: 5% 0% 0% 0px;
  display: none;
}

.lang-menu-option{
  border: solid 1px #636363;
  padding: 10px;
  font-size: 1.5vh;
  background-color: #3B94C4;
  border-radius: 3px;
}

@media (min-width: 1024px) {
  .lang-menu-option {
    font-size: 3vh;
  }
}

.lang-menu-option:hover{
  cursor: pointer;
}

.lang-menu-option img{
  width: 50px;
  height: 50px;
}

.menu-option-content{
  display: block;
  background-color: #005B8C;
  margin: 0;
}

.about-language{
  display: block;
}

@media (min-width: 768px){
  .menu-option-content{
    display: none;
  }
  .language-menu{
    display: block !important;
  }
  .content-header{
    display:none;
  }
  .examples-language{
    display: block;
  }
  .about-lang-menu{
    background-color: #005B8C;
    border-bottom: solid 1px #005b8c;
  }
}

.lang-starter-heading {
    font-size: 3em;
}



footer {
  background-color: #eeeeee;
  color: black;
  width:100%;
}
