html, body {
  background: linear-gradient(#1e5799, #337ab7);
  color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


section {
  padding: 5%
}


.language-content {
  background-color: #346c93;
  text-align: center;
  -webkit-box-shadow: 10px 10px 33px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 33px -15px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 33px -15px rgba(0,0,0,0.75);
}


.language-name h1 {
  position: relative;
  width:300px;
  height:100px;
  line-height:100px;

  margin: 20px auto;

  background: #AA3939;
  color: white;
  text-shadow: 0 -1px 0 black;
  font-size:3em;
  text-align: center;
  -webkit-box-shadow: 10px 10px 33px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 33px -15px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 33px -15px rgba(0,0,0,0.75);

}
.language-name h1:before {
  content: '';
  position: absolute;
  top: 0;
  left: -30px;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-top: 50px solid #AA3939;
  border-bottom: 50px solid #AA3939;
}

#content {
  display: none;
}

.about-language {
  display: inline;
}

footer {
  background-color: #eeeeee;
  color: black;
}
