html, body {
  background: linear-gradient(#1e5799, #337ab7);
  color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

section {
  padding: 5%;
}

.language-content {
  width: 100%;
  background-color: #346c93;
  text-align: center;
  -webkit-box-shadow: 10px 10px 33px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 33px -15px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 33px -15px rgba(0,0,0,0.75);
}

.language-name {
  display: inline-block;
}

.language-name h1 {
  position: relative;
  height:100px;
  line-height:100px;
  margin: 20px;
  padding-right: 10%;
  padding-left: 10%;
  background: #AA3939;
  color: white;
  text-shadow: 0 -2px 0 black;
  font-size:3em;
  text-align: center;
  -webkit-box-shadow: 10px 10px 33px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 33px -15px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 33px -15px rgba(0,0,0,0.75);
}

.language-name h1:before {
  content: '';
  position: absolute;
  top: 0;
  left: -30px;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-top: 50px solid #AA3939;
  border-bottom: 50px solid #AA3939;
}


.language-content .language-logo {
  border-radius: 50%;
	width: 200px;
	height: 200px;
  background-color: #3a7aa5;
  margin: auto;
  -webkit-box-shadow: 10px 10px 33px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 33px -15px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 33px -15px rgba(0,0,0,0.75);
}



/* Navigation Bar */

.lang-menu {
  padding: 5%;
  max-width: 100%;
}

.box {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.05);
  -ms-box-shadow: 0 1px 0 rgba(0,0,0,0.05);
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.05);
  box-shadow: 0 1px 0 rgba(0,0,0,0.05);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  background-color: #b3c833;
  border: 1px;
  color: #fff;
  display: inline-block;
  height: 36px;
  line-height: 34px;
  min-width: 40px;
  padding: 0 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  transition: width 1s;
  margin-bottom: 50px;
}

.box a {
	color:#FFF;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	height:100%;
	display:block;
  padding-top: 20px;
}

.box span {
    display:block;
    position:relative;
    top:100%;
    text-align: center;
    -webkit-transition: top 1s;
    -moz-transition: top 1s;
    transition: top 1s;
}

.box:hover span { top:10%;}

.box:hover { top :100%; color: white; text-decoration: none}

.about-lang-item { background: #16A085; }
.complication-lang-menu { background: red; }
.syntax-lang-menu { background: yellow; }
.examples-lang-menu { background: green; }
.money-lang-menu { background: gold; }
.summary-lang-menu { background: lightblue; }

.complication-language {
  display: none;
}

.syntax-language {
  display: none;
}

.examples-language {
  display: none;
}

.money-language {
  display: none;
}

.summary-language {
  display: none;
}


footer {
  background-color: #eeeeee;
  color: black;
}
