@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('font-awesome.min.css');

html, body {
  font-family: 'Ubuntu', sans-serif;
  font-size: calc( 13px + (25 - 15) * ( (100vw - 320px) / ( 1920 - 320) ));
  width: 100%;
  height: 100%;
}

section {
  text-align: center;
}

p {
  line-height: 1.5;
  margin-bottom: 20px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.35em;
}

h4 {
  font-size: 1.08em;
}

.text-muted {
  opacity: 0.6;
}

/* navbar */
.navbar-custom {
  z-index: 3;
  font-size: 0.77em;
}

.navbar-custom .navbar-brand {
  font-weight: 800;
  font-size: 1.4em;
}

.navbar-brand img{
  margin-top: -8px;
  height: 40px;
  display: inline;
}

@media (min-width: 2160px) {
  .navbar-brand img{
    margin-top: -18px;
  }
}

.navbar-custom .navbar-toggle {
  color: #777777;
  font-weight: 800;
  text-transform: uppercase;
}

.navbar-custom .navbar-toggle {
  color: #777777;
  font-weight: 800;
  text-transform: uppercase;
}

.navbar-custom .nav li a {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
}

@media (min-width: 2160px) {
  html,body {
    font-size: calc( 30px + (50 - 35) * ( (100vw - 2160px) / ( 4096 - 2160) ));
  }
  .navbar-custom {
    font-size: 0.8em;
  }
  .navbar-custom .navbar-brand {
    font-size: 1em;
  }
  .page-scroll {
    padding: 20px !important;
  }
  .container {
    width: 65vw;
  }
}

/* Sections */

.section, section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.header-heading {
  font-size: 2em;
  padding-bottom: 23px;
  margin-top: -40px;
  margin-bottom: 67px;
  position: relative;
}

.header-heading:after,
.section-heading:after {
  content: '';
  position: absolute;
  width: 40%;
  height: 3px;
  background: #AA3939;
  bottom: 0;
  left: 30%;
}

.header-text {
  font-weight: 600;
}

.section-heading {
  font-size: 2em;
  padding-bottom: 23px;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
}

@media (max-width: 768px) {
  .header-heading {
    padding-top: 40px;
  }

  .navbar-custom .navbar-brand {
    font-size: 2em;
  }
}

/* Footer Section */

.site-footer, footer {
  background: #337ab7;
  padding: 10px 0;
  color: white;
  text-align: center;
}

.site-footer .copyright, footer p {
  font-size: 1em;
  margin: 0;
}

/* */

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.site-logo {
  margin: 0;
}

.site-logo img{
  height: 40px;
  margin-top: -8px;
}
