html,
body {
  height: 100%;
  width: 100%;
}


hr {
  border-color: #AA3939;
  border-width: 3px;
  max-width: 200px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

a {
  color: white;
}

a:hover {
  color: #F05F40;
  text-decoration: none;
}

section {
  padding: 50px 0;
  text-align: center;
  color: white;
}

.custom-row {
  height: 100
}


/* Navigation bar */

.navbar-custom {
  z-index: 3;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.navbar-custom .navbar-brand {
  font-weight: 800;
}
.navbar-custom .navbar-header .navbar-toggle {
  color: #777777;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
}
.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
}

/* Header section */

header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../img/header.jpg');
  text-align: center;
  color: white;
}
header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}
header .header-content .header-content-inner h1 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
}
header .header-content .header-content-inner hr {
  margin: 30px auto;
}
header .header-content .header-content-inner p {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
  }
  header .header-content .header-content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  header .header-content .header-content h1 {
    font-size: 50px;
  }
  header .header-content .header-content p {
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Laptop Section */

.laptop{
  margin: auto;
  box-sizing: border-box;
}

.screen {
  width: 90%;
  height: 310px;
  background: black;
  border: 12px solid #e8ebf0;
  border-radius: 10px 10px 0 0;
}

.connector {
  border-top: 5px solid #e8ebf0;
  width: 60%;
  margin-left: 15%;
}

.keyboard{
 height: 0;
 width: 110%;
 margin-left: -10%;
 border-bottom: 170px solid #e8ebf0;
 border-left: 3.7vw solid transparent;
 border-right: 3.7vw solid transparent;
}

.keys{
  width: 100%;
  margin-top: 1%;
  margin-left: 2%;
  float: left;
  -webkit-transform: perspective(200px) rotateX(10deg);
}

.key{
  width: 23px;
  height:15px;
  background-color: #333;
  text-align: center;
  line-height:15px;
  border-radius:2px;
  float:left; 
  margin: 1px 0 0 3px;
  font-size: 5px;
}

.function{ width:19.6px; height:10px; }
.dual { line-height: 7.5px; }
.newrow {clear:both;}
.backspace {width:30px;}
.tab {width: 27px;  ;}
.slash{width:26px; }
.caps{width:32px;  }
.enter{width:47px; }
.shift-left{width: 40px; }
.shift-right{width: 39px;}
.ctrl-left{width: 25px;  }
.ctrl-right{width: 27px; }
.space{width:154px;}
.enter2{}
.plus{}

.touchpad{
  width: 55%;
  margin: 0 auto;
}

.mouse{
  background-color: #333;
  width: 100px;
  height: 50px;
  float: left;
  margin-top: 5px;
}
.click{
  background-color: #333;
  width: 49.5px;
  height: 10px;
  margin: 1px 1px 0 0;
  float: left;
}
.board {
  width: 110%;
  height: 15px;
  margin-left: -10%;
  border-radius: 0 0 20px 20px;
  background: #f4f5f7;

}

.laptop-content{
	width: 100%;
}

/* Terminal Section */

.terminal {
  font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
  font-size: 11pt;
  text-align: left;
  background: #30353A;
  padding: 10px;
  width: 100%;
  height: 258px;
}

.terminal-window header {
  background: #E0E8F0;
  margin-top: -1px;
  height: 30px;
  padding-left: 10px;
}

.terminal-window header .button {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 8px;
}

.terminal-window header .button.green {
  background: #3BB662;
}

.terminal-window header .button.yellow {
  background: #E5C30F;
}

.terminal-window header .button.red {
  background: #E75448;
}

/* Terminal Highliting */

div.terminal .function-name-highlighter { color: #a6e22e } /* Function Name */
div.terminal .function-highlighter { color: #4ecdef } /* Function */
div.terminal .function-arg-highlighter { color: #f6971f } /* Function Arguments */
div.terminal .keyword-highlighter { color: #f92656 } /* Keyword */
div.terminal .string-highlighter { color: #e6db74 } /* String */
div.terminal .number-highlighter { color: #ae81ff } /* Number */



/* How Works Section */

#how-works {
  background-color: #4188b8;
  min-height: 100vh;
}

#how-works h1 {
  padding-bottom: 5%;
}

.sub-text {
  opacity: 0.5;
  padding-top: 2%;
  padding-bottom: 5%;
}

/* Programming languages Section */

#program-languages {
  background-color: #2a3967;;
  min-height: 100vh;
}

#program-languages h1 {
  padding-bottom: 5%;
}

.language {
  padding: 6%;
}

/* Buttons */

.btn.btn-danger {
    min-width: 30%;
    font-size: 32px;
    color: #F05F4;
    background-color: #AA3939;
    background-image: linear-gradient(to bottom, #AA3939, #AA3939);
    border-color: #AA3939 #AA3939 #AA3939;
}
.btn.btn-danger:hover {
    min-width: 30%;
    color: #F05F4;
    font-size: 32px;
    background-color: #762E55;
    background-image: linear-gradient(to bottom, #762E55, #762E55);
    border-color: #762E55 #762E55 #762E55;
}

/* About Section */

#about-project {
  background-color: #2a3967;
  min-height: 45vh;
  padding: 50px 0;
}
@media (max-width: 768px) {
  #about-project {
    background-color: #2a3967;
    min-height: 100vh;
  }
}

/* Footer Section */

footer {
  color: white;
}
footer h3 {
  margin-bottom: 30px;
}
footer .footer-above {
  padding-top: 50px;
  background-color: #25335c;
  min-height: 45vh;
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  min-height: 5vh;
  padding: 1vh;
  background-color: #1c2645;
}
