@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('font-awesome.min.css');

html, body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    width: 100%;
    height: 100%;
}

@media (min-width: 2560px) {
  html,body {
    font-size: 30px;
  }
  .navbar-custom {
    font-size: 1.2em;
  }
  .page-scroll {
    padding: 20px !important;
  }
}

p {
  line-height: 1.5;
  margin-bottom: 20px;
}



hr {
  border-color: #AA3939;
  border-width: 3px;
  width: 40%;
}

.text-muted {
  opacity: 0.6;
}

/* navbar */
.navbar-custom {
  z-index: 3;
}
.navbar-custom .navbar-brand {
  font-weight: 800;
}
.navbar-custom .navbar-header .navbar-toggle {
  color: #777777;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 0.9em;
}
.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 800;
  letter-spacing: 1px;
}

/* Sections */

section {
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-flex;
  display: -moz-box;
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  justify-content: center;
  text-align: center;

}

.section-heading {
  font-size: 2em;
}

@media (max-width: 768px) {
  .section-heading {
    padding-top: 20%;
  }
}



/* Buttons */

.btn.btn-danger {
    min-width: 30%;
    font-size: 2.1em;
    color: #F05F4;
    background-color: #AA3939;
    background-image: linear-gradient(to bottom, #AA3939, #AA3939);
    border: none;
    border-radius: 15px;
    box-shadow: 0px 15px 23px -5px rgba(0,0,0,0.75), 0 8px #000;
    margin: 5% 0 7% 0;
}

@media (min-width: 768px) {
  .btn.btn-danger {
    font-size: 3.1em;
  }
}

.btn.btn-danger.start:hover {
    background-color: #762E55;
    background-image: linear-gradient(to bottom, #762E55, #762E55);
}

.press {
  animation: press, press2;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-play-state: linear;
  animation-fill-mode: forwards;
}


@keyframes press{
  0% {box-shadow: 0px 15px 23px -5px rgba(0,0,0,0.75), 0 8px #000;}
  100% {box-shadow: 0px 0px 23px -5px rgba(0,0,0,0.75), 0 0px #000;}
}
@keyframes press2{
  0% {transform: translateY(0px);}
  100%{transform: translateY(8px);};
}

/* Footer Section */

footer {
  background-color: #337ab7;
  padding: 25px 0;
  color: white;
  text-align: center;
}
footer p {
  font-size: 1.5em;
  margin: 0;
}
