html, body {
  color: black;
}

.all {
  min-height: calc(100vh - 7.25vh);
  padding-top: 51px;
}

.back {
  display: none;
  top: 10%;
  position: absolute;
  cursor: pointer;
}
.questions p {
  position: relative;
  left: 25%;
}

.questions h1 {
  font-size: 7vh;
  margin-bottom: 10%;
}

@media (max-width: 768px){
  .questions h1 {
    margin-top: 8vh;
  }
}

.questions img {
  width: 70px;
  height: 70px;
  cursor: pointer;
  margin-bottom: 5px;
}

.ans p{
  background-color: #337ab7;
  border-radius: 15px;
  width: 50%;
  color: white;
}

.ans p:hover{
  background-color: #5191f7;
  cursor: pointer;
}


.que2 {
  display: none;
}

.que3 {
  display: none;
}

.slide_up {
  animation: 2s slide_up;
  display: block;
}

@keyframes slide_up {
  from {transform: translateY(30vh);}
  to {transform: translateY(0vh);};
}

.slide_out {
  animation: 1s slide_out;
  display: block;

}
@keyframes slide_out {
  from {transform: translateY(0vh); opacity: 1;}
  to {transform: translateY(-30vh); opacity: 0;};
}

.slide_in {
  animation: 1s slide_in;
  display: block;
}
@keyframes slide_in {
  from {transform: translateY(-30vh); opacity: 0;}
  to {transform: translateY(0vh); opacity: 1;};
}
