html, body {
  color: black;
}


.all {
  min-height: calc(100vh - 71px);
  overflow: hidden;
}
@media (max-width: 768px) {
  .all {
    min-height: 700px;
  }
}


.back {
  visibility: hidden;
  top: 60px;
  position: absolute;
  cursor: pointer;
}


.questions p {
  position: relative;
  left: 25%;
}


.questions h1 {

  margin-bottom: 10%;
}



.questions img {
  width: 70px;
  height: 70px;
  cursor: pointer;
  margin-bottom: 5px;
}

.ans p{
  background-color: #337ab7;
  border-radius: 15px;
  width: 50%;
  color: white;
}

.ans p:hover{
  background-color: #5191f7;
  cursor: pointer;
}


.questions {
  display: none;
}
.que1 {
  display: block;
}

.slide_up {
  animation: 2s slide_up;
  display: block;
}

@keyframes slide_up {
  from {transform: translateY(25vh);}
  to {transform: translateY(0vh);};
}

.slide_out {
  animation: 1s slide_out;
  display: block;

}
@keyframes slide_out {
  from {transform: translateY(0vh); opacity: 1;}
  to {transform: translateY(-30vh); opacity: 0;};
}

.slide_in {
  animation: 1s slide_in;
  display: block;
}
@keyframes slide_in {
  from {transform: translateY(-30vh); opacity: 0;}
  to {transform: translateY(0vh); opacity: 1;};
}
