.tip{
  text-decoration: underline;
  cursor: pointer;
}

.tip:active,
.tip:hover {
  outline: 0;
}

.tlite {
  background: #e8ebf0;
  color: #333;
  font-size: 0.8em;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  padding: 0.6em 0.75rem;
  border-radius: 4px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s;
  box-shadow: 0 0.5rem 3rem -0.5rem black;
  z-index: 1000;
  -webkit-backface-visibility: hidden;
  margin-right: 15px;
}

.tlite-table td,
.tlite-table th {
  position: relative;
}

.tlite-visible {
  visibility: visible;
  opacity: 1;
}

.tlite::before {
  content: ' ';
  display: block;
  background: inherit;
  width: 20px;
  height: 20px;
  z-index: -1;
  position: absolute;
  transform: rotate(45deg);
}

.tlite-n::before {
  top: -3px;
  left: 50%;
  margin-left: -15px;
}

.tlite-nw::before {
  top: -3px;
  left: 10px;
}

.tlite-ne::before {
  top: -3px;
  right: 10px;
}

.tlite-s::before {
  bottom: -3px;
  left: 50%;
  margin-left: -15px;
}

.tlite-se::before {
  bottom: -3px;
  right: 10px;
}

.tlite-sw::before {
  bottom: -3px;
  left: 10px;
}

.tlite-w::before {
  left: -3px;
  top: 50%;
  margin-top: -5px;
}

.tlite-e::before {
  right: -3px;
  top: 50%;
  margin-top: -5px;
}

.lang .tlite {
  font-size: 0.4em;
}

.lang .tlite::before {
  width: 10px;
  height: 10px;
  margin-left: -5px;
}

.lang .tip {
  font-size: 0.5em;
}

.no-outline {
  outline: none;
}
