html, body {
  color: black;
  background: linear-gradient(#f8f8f8, #d6d6d6);
}


.all {
  min-height: calc(100vh - 50px);
  overflow: hidden;
}

.return-btn {
  visibility: hidden;
  top: 60px;
  left: 5px;
  position: absolute;
  cursor: pointer;
  z-index: 999;
  font-size: 1.4em;
}

.again-btn {
  top: 60px;
  right: 5px;
  position: absolute;
  cursor: pointer;
  z-index: 999;
  font-size: 1.4em;
}

.question {
  margin: 30px 0 60px;
  font-size: 1.5em;
}

.answer img {
  width: 150px;
  cursor: pointer;
}

@media (max-width: 1200px){
  .answer img {
  width: 80px;
  }
}

@media (min-width: 2160px){
  .answer img {
  width: 200px;
  }
}

.guide-container {
  display: inline-block;
  vertical-align: top;
}

.then {
  display: block;
}

.jumpImg {
  animation: 1s jumpImg;
  animation-iteration-count: infinite;
}

@keyframes jumpImg {
  50% {transform: translateY(-30px);}
}

.shade {
  background-color: rgb(65, 65, 65);
  border-radius: 60%;
  height: 20px;
  width: 200px;
  margin: 0 auto 10px;
}

@media (max-width: 1200px){
  .shade {
  width: 80px;
  height: 10px;
  }
}

.shadeImg {
  animation: 1s shadeImg;
  animation-iteration-count: infinite;
}

@keyframes shadeImg {
  50% {transform: scale(1.2);}
  51% {opacity: 0.8;}
}

.answers {
  width: 100vw;
}

.answers p {
  padding: 10px;
}

.answers span {
  padding: 30px;
  font-size: 1.4em;
  margin-top: 40px;
  vertical-align: top;
  display: inline-block;
}

.answer {
  display: inline-table;
  text-align: center;
  padding: 15px;
  max-width: 20vw;
  animation: 0.8s slide_in;
  vertical-align: top;
}

.answer:active,
.answer:hover{
  outline: 0;
}

.answer p{
  background-color: #0a455e;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
}

.fadeOut {
  transition: opacity 0.8s;
  -moz-transition: opacity 0.8s;
  -ms-transition: opacity 0.8s;
  -o-transition: opacity 0.8s;
  transition: opacity 0.8s;
  opacity: 0;
}

@keyframes slide_in {
  from {opacity: 0;}
  to {opacity: 1;}
}
