
.all {
  min-height: 100vh;
  padding-top: 80px;
}

.key-name {
  font-size: .5em;
  padding: 2px 5px;
  vertical-align: top;
  margin-top: -10px;
  z-index: 0;
  border: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.return-btn,
.again-btn {
  display: inline-block;
  position: absolute;
  background: 0;
  border: none;
  cursor: pointer;
  font-size: 1.3em;
}

.return-btn:hover,
.again-btn:hover {
  outline: 0;
}

.return-btn {
  visibility: hidden;
  top: 60px;
  left: 5px;
}

.again-btn {
  top: 60px;
  right: 5px;
}

.question {
  margin: 30px 0 60px;
  font-size: 1.7em;
  font-weight: bold;
}

.answer img {
  width: 150px;
  cursor: pointer;
  margin-bottom: 5px;
}

@media (max-width: 1200px) {
  .answer img {
    width: 80px;
  }
}

@media (min-width: 2160px) {
  .answer img {
    width: 200px;
  }
}

.guide-container {
  display: inline-block;
  vertical-align: top;
}

.then {
  display: block;
}

.jumpImg {
  animation: 1s jumpImg;
  animation-iteration-count: infinite;
}

@keyframes jumpImg {
  50% {
    transform: translateY(-30px);
  }
}

.shade {
  background-color: rgb(33, 33, 33);
  border-radius: 60%;
  height: 20px;
  width: 200px;
  margin: 5px auto 10px;
  box-shadow: 0 0 2px 0 black;
}

@media (max-width: 1200px) {
  .shade {
    width: 80px;
    height: 10px;
  }
}

.shadeImg {
  animation: 1s shadeImg;
  animation-iteration-count: infinite;
}

@keyframes shadeImg {
  50% {
    transform: scale(1.2);
  }
  51% {
    opacity: 0.8;
  }
}

.answers .or {
  padding: 30px;
  font-size: 1.4em;
  margin-top: 40px;
  vertical-align: top;
  display: inline-block;
}

.answer {
  display: inline-table;
  text-align: center;
  padding: 15px;
  max-width: 20vw;
  animation: 0.8s slide_in;
  vertical-align: top;
  background: none;
  border: none;
}

@media (max-width: 600px) {
  .answer {
    padding: 10px;
    max-width: 50vw;
  }

  .question {
    margin: 60px 0;
  }
}

@media (max-width: 500px) {
  .answers span.or {
    display: block;
    margin-top: 0;
  }
}

.answer:active,
.answer:hover {
  outline: 0;
}

.answer p {
  background-color: #e7e7e7;
  border-radius: 20px;
  color: #1e1e1e;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  -webkit-box-shadow: 0 1px 4px 0 black;
  -moz-box-shadow: 0 1px 4px 0 black;
  box-shadow: 0 1px 4px 0 black;
}

.answer-p-hover {
  transform: translateY(-1px);
  box-shadow: 0 2px 8px 0 black!important;
}

.fadeOut {
  -moz-transition: opacity 0.8s;
  -ms-transition: opacity 0.8s;
  -o-transition: opacity 0.8s;
  transition: opacity 0.8s;
  opacity: 0;
}

@keyframes slide_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #f1f1f1;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0)
  }
  40% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}