---
title: "FAQ"
description: "Często zadawane pytania przez początkujących programistów."
permalink: "/faq/"
---

<!DOCTYPE html>
<html lang="pl">
<head>

  {% include head.html %}

  <link rel="stylesheet" href="/dist/faq.css">

</head>
<body>

{% include nav.html %}

<section class="faq">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>FAQ</h1>
      </div>
    </div>
    <div class="row">
      {%- assign faqData = site.data.faq -%}
      {%- assign middle = faqData.size | minus: 1 | divided_by: 2 -%}
      {%- assign beforeMiddle = faqData.size | minus: 1 | divided_by: 2 | minus: 1 -%}


      <div class="col-sm-6">
        <div class="faq accordion">
          {%- for faq in faqData -%}
          {%- assign i = forloop.index -%}

          <h2 class="accordion-header" id="question-{{ i }}">
            <button class="question accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#answer-{{ i }}" aria-expanded="true" aria-controls="answer-{{ i }}">
              {{faq.Q}}
            </button>
          </h2>
          <div id="answer-{{ i }}" class="accordion-collapse collapse" aria-labelledby="question-{{ i }}"
               data-bs-parent=".faq">
            <div class="answer accordion-body">
              {{faq.A | newline_to_br | markdownify }}
            </div>
          </div>

          {%- if forloop.index == middle -%}

        </div>
      </div>
      <div class="col-sm-6">
        <div class="faq accordion">
          {%- endif -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</section>

{% include footer.html %}

<script src="../dist/faq.js"></script>

</body>
</html>
