---
title: "FAQ"
description: "Często zadawane pytania przez początkujących programistów."
permalink: "/faq/"
---

<!DOCTYPE html>
<html lang="pl">
<head>

  {% include head.html %}

  <link rel="stylesheet" href="/dist/faq.css">

</head>
<body>

{% include nav.html %}

<section class="faq">

  <div class="container">
    <h1>FAQ</h1>
    <div class="row justify-content-center">

      {% assign faqData = site.data.faq %}

      {% assign middle = faqData.size | minus: 1 | divided_by: 2 %}
      {% assign beforeMiddle = faqData.size | minus: 1 | divided_by: 2 | minus: 1%}

      <div class="col-sm-6">

        {%- for faq in faqData -%}

        <div tabindex="0" class="question">
          <h2>{{faq.Q}}</h2><i class="fa fa-arrow-down" aria-hidden="true"></i>
        </div>
        <div class="answer">
          {{faq.A | newline_to_br | markdownify }}
        </div>

        {%- if forloop.index == middle -%}
      </div>
      <div class="col-sm-6">
        {%- endif -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>

{% include footer.html %}

<script src="../dist/faq.js"></script>

</body>
</html>
