---
title: "Statystyki języków programowania 2018"
description: "Wizualizacja statystyk z serwisów Tiobe Index, Stack Overflow, Meetup i Github zbieranych przez stronę jaki-jezyk-programowania.pl w roku 2018"
permalink: "/statystyki-jezykow-programowania-2018/"
---

<!DOCTYPE html>
<html lang="pl">
<head>

  {% include head.html %}

  <link rel="stylesheet" href="/dist/faq.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>

  <style>
    .chart {
      background: #f8f8f8;
      width: 100%;
      margin: 30px 0;
    }

    .git-lang-switcher {
      margin: 10px 5px 25px;
    }

    h2 {
      margin: 30px 30px 15px;
    }

  </style>

</head>
<body>

{% include nav.html %}

<section class="faq">

  <div class="container">
    <h1>Statystyki języków programowania 2018</h1>
    <p class="m-4">Wizualizacja wszystkich statystyk, które zbierałem co miesiąc na potrzebę tej strony w roku 2018.</p>
    <div class="row flex-column justify-content-center">

      <canvas class="chart" id="tiobeCurrentYear"></canvas>
      <canvas class="chart" id="tiobeLastYear"></canvas>

      <canvas class="chart" id="stackQuestions"></canvas>

      <canvas class="chart" id="meetupMeetupsLocal"></canvas>
      <canvas class="chart" id="meetupMeetupsGlobal"></canvas>
      <canvas class="chart" id="meetupMembersLocal"></canvas>
      <canvas class="chart" id="meetupMembersGlobal"></canvas>

      <canvas class="chart" id="githubProjects"></canvas>
      <canvas class="chart" id="githubMoreThen1000Stars"></canvas>

      <h2>Top 10 projektów na Github. Wybierz język:</h2>
      <div>
        <button class="git-lang-switcher main-btn" data-lang="Java">Java</button>
        <button class="git-lang-switcher main-btn" data-lang="JavaScript">JavaScript</button>
        <button class="git-lang-switcher main-btn" data-lang="Python">Python</button>
        <button class="git-lang-switcher main-btn" data-lang="PHP">PHP</button>
        <button class="git-lang-switcher main-btn" data-lang="Ruby">Ruby</button>
        <button class="git-lang-switcher main-btn" data-lang="C#">C#</button>
        <button class="git-lang-switcher main-btn" data-lang="Swift">Swift</button>
        <button class="git-lang-switcher main-btn" data-lang="C">C</button>
        <button class="git-lang-switcher main-btn" data-lang="C++">C++</button>
        <button class="git-lang-switcher main-btn" data-lang="R">R</button>
      </div>
      <div id="lang-projects">
        <canvas class="chart" id="github-projects-for-lang"></canvas>
      </div>

      <canvas class="chart" id="top10GithubProjects"></canvas>

    </div>
  </div>
</section>

{% include footer.html %}

<script src="/dist/statistics2018.js"></script>
</body>
</html>
