{% unless page.no-books %}
<div class="books">
{% assign category = site.data.books_by_technology[page.title] %}
{% if category != null %}
  <h1 id="najlepsze-książki-do-nauki-{{ page.title | downcase | replace: '#', 'sharp'| replace: ' ', '-'}}"> Najlepsze książki do nauki  {{ page.title }}</h1>
  <h2>od wydawnictwa <a href="https://helion.pl/view/9102Q">Helion</a>:</h2>
  {% include promotion.html %}
{% endif %}
{%- for book in category.books -%}
  {%- if book.first -%}
    {% for group in book %}
      {%- if group[0] != '' -%}
  <p>{{ group[0] }}:</p>
      {%- endif -%}
      {% for bookId in group[1] %}
  <div class="book" data-book-id="{{ bookId }}">
    <script src="https://helion.pl/plugins/new/ksiazkasm.phi?id={{ bookId }}&nr=9102Q&size=181&utf8=1"></script>
  </div>
      {% endfor %}
    {% endfor %}
  {%- else -%}
  <div class="book" data-book-id="{{ book }}">
    <script src="https://helion.pl/plugins/new/ksiazkasm.phi?id={{ book }}&nr=9102Q&size=181&utf8=1"></script>
  </div>
  {%- endif -%}
{%- endfor -%}
</div>

{% case page.title %}
{% when "JavaScript" %}
{% assign category = "webmasterstwo" %}
{% assign subcategory = page.title %}
{% when "PHP" %}
{% assign category = "webmasterstwo" %}
{% assign subcategory = page.title %}
{% when "Angular" %}
{% assign category = "webmasterstwo" %}
{% assign subcategory = "angularjs" %}
{% when "WordPress" %}
{% assign category = "webmasterstwo" %}
{% assign subcategory = page.title %}
{% when "Swift" %}
{% assign category = "programowanie" %}
{% assign subcategory = "objective-c-swift" %}
{% when "Unreal Engine 4" %}
{% assign category = "gry" %}
{% assign subcategory = "unreal-engine" %}
{% when "Unity" %}
{% assign category = "gry" %}
{% assign subcategory = "unity" %}
{% when "Django" %}
{% assign category = "" %}
{% assign subcategory = "" %}
{% when "Spring" %}
{% assign category = "" %}
{% assign subcategory = "" %}
{% when "Go" %}
{% assign category = "programowanie" %}
{% assign subcategory = "go-programowanie" %}
{% when "C#" %}
{% assign category = "programowanie" %}
{% assign subcategory = "c-sharp" %}
{% when "SQL" %}
{% assign category = "bazy-danych" %}
{% assign subcategory = page.title %}
{% when "HTML i CSS" %}
{% assign category = "webmasterstwo" %}
{% assign subcategory = "css" %}
{% else %}
{% assign category = "programowanie" %}
{% assign subcategory = page.title %}
{% endcase %}

{% if category != "" %}
<div>
  <a class="other-books-link darker-overlay" href="https://helion.pl/page-new/9102Q/kategorie/{{category}}/{{subcategory | downcase }}/druk,ebook">
    <img src="/img/other/books.png"/>Zobacz inne książki w kategorii {{ page.title }}
  </a>
</div>
{% endif %}
{% endunless %}