<div class="books">
{% assign category = site.data.books_by_technology[page.title] %}
{% if category != null %}
  <h1 id="najlepsze-książki-do-nauki-{{ page.title | downcase | replace: '#', 'sharp'| replace: ' ', '-'}}"> Najlepsze książki do nauki  {{ page.title }}</h1>
  <h2>od wydawnictwa <a href="https://helion.pl/view/9102Q">Helion</a>:</h2>
  {% include promotion.html %}
{% endif %}
{%- for book in category.books -%}
  {%- if book.first -%}
    {% for group in book %}
      {%- if group[0] != '' -%}
  <p>{{ group[0] }}:</p>
      {%- endif -%}
      {% for bookId in group[1] %}
  <div class="book" data-book-id="{{ bookId }}">
    <script src="https://helion.pl/plugins/new/ksiazkasm.phi?id={{ bookId }}&nr=9102Q&size=181&utf8=1"></script>
  </div>
      {% endfor %}
    {% endfor %}
  {%- else -%}
  <div class="book" data-book-id="{{ book }}">
    <script src="https://helion.pl/plugins/new/ksiazkasm.phi?id={{ book }}&nr=9102Q&size=181&utf8=1"></script>
  </div>
  {%- endif -%}
{%- endfor -%}
</div>