<div class="courses" data-query="{{ page.title }}">

  <h1 id="najlepsze-kursy-video-do-nauki-{{ page.title | downcase | replace: '#', 'sharp' | replace: ' ', '-'}}"> Najlepsze kursy video do nauki  {{ page.title }}</h1>
  <h2>na platformie <a href="https://click.linksynergy.com/fs-bin/click?id=0Bz3A2CPbI4&offerid=358574.1389&subid=0&type=4">Udemy</a>:</h2>
  <div class="loading"><i class="fa fa-cog fa-spin fa-3x fa-fw"></i><span class="sr-only">Ładowanie...</span></div>
  <div class="currency-info d-none">* Po przejściu do danego kursu zobaczysz cenę w PLN</div>

</div>

<div>
  <a class="other-books-link darker-overlay" href="https://click.linksynergy.com/fs-bin/click?id=0Bz3A2CPbI4&offerid=358574.1389&subid=0&type=4">
    <img src="/img/other/video-courses.png"/>Zobacz inne kursy video na Udemy
  </a>
</div>