<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1" name="viewport">
<meta content="{{ page.description }}" name="description">

<meta content="#0376a5" name="theme-color">
<meta content="#0376a5" name="msapplication-navbutton-color">
<meta content="#0376a5" name="apple-mobile-web-app-status-bar-style">

<title>{% if page.title-full %} {{page.title-full}} {% else %} {{ page.title }}{% endif %}</title>

{% include ga.html %}

<link href="/img/logo/logo.ico" rel="shortcut icon">
<link href="/dist/global.bundle.css" rel="stylesheet">
