<div class="navbar navbar-expand-lg navbar-light navbar-fixed-top navbar-custom">

  <a class="navbar-brand page-scroll" href="/"><i aria-hidden="true" class="fa fa-home"></i></a>

  <button aria-controls="site-nav" aria-expanded="false" class="navbar-toggler" data-bs-target="#site-nav"
          data-bs-toggle="collapse" id="navbar-toggle-btn" type="button">

    Menu <i aria-hidden="true" class="fa fa-bars"></i>
  </button>

  <nav class="collapse navbar-collapse" id="site-nav">
    <ul class="nav navbar-nav ms-auto text-end">
      <li class="nav-item">
        <a class="page-scroll nav-link use-btn" href="#zastosowanie">Zastosowanie</a>
      </li>
      <li class="nav-item">
        <a class="page-scroll nav-link difficulty-btn" href="#poziom-skomplikowania">Poziom skomplikowania</a>
      </li>
      <li class="nav-item">
        <a class="page-scroll nav-link popularity-btn" href="#statystyki">Statystyki</a>
      </li>
      <li class="nav-item">
        <a class="page-scroll nav-link popularity-btn" href="#przyszłość-języka">Przyszłość</a>
      </li>
      <li class="nav-item">
        <a class="page-scroll nav-link courses-link"
           href="#najlepsze-kursy-video-do-nauki-{{ page.title | downcase | replace: '#', 'sharp'}}">Kursy</a>
      </li>
      {% if page.no-books != true %}
      <li class="nav-item">
        <a class="page-scroll nav-link"
           href="#najlepsze-książki-do-nauki-{{ page.title | downcase | replace: '#', 'sharp'}}">Książki</a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
