<div class="navbar navbar-expand-lg navbar-light navbar-fixed-top navbar-custom">

  <a class="navbar-brand page-scroll" href="/"><i class="fa fa-home" aria-hidden="true"></i></a>

  <button type="button" id="navbar-toggle-btn" class="navbar-toggler" data-bs-toggle="collapse"
          data-bs-target="#site-nav" aria-expanded="false" aria-controls="site-nav">

    Menu <i class="fa fa-bars" aria-hidden="true"></i>
  </button>

  <nav id="site-nav" class="collapse navbar-collapse show">
    <ul class="nav navbar-nav ms-auto text-end">
      {% if page.no-courses != true %}
      <li class="nav-item">
        <a class="page-scroll nav-link courses-link"
           href="#najlepsze-kursy-video-do-nauki-{{ page.title | downcase | replace: '#', 'sharp' | replace: ' ', '-'}}">
          <i class="fa fa-caret-square-o-right" aria-hidden="true"></i> Polecane kursy
        </a>
      </li>
      {% endif %}
      {% if page.no-books != true %}
      <li class="nav-item">
        <a class="page-scroll nav-link" href="#najlepsze-książki-do-nauki-{{ page.title | downcase | replace: '#', 'sharp' | replace: ' ', '-'}}">
          <i class="fa fa-book" aria-hidden="true"></i> Polecane książki
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
