<header class="start-container">
  <div class="container-fluid">
    <div class="row start-row">
      <div class="col-xs-12 col-md-6 col-header">
        <div class="language-logo"><img src="/img/{% if page.image %}{{ page.image }}{% else %}{{ page.title | downcase | remove: ' '}}.png{% endif %}" alt="{{ page.title }} logo"></div>
      </div>
      <div class="col-xs-12 col-md-6 col-header">
          <h2 class="lang-starter-heading">{{ page.title }}</h2>
          <div class="up-to-date">Aktualizacja: {{ page.date | date: "%d.%m.%Y" }}</div>
      </div>
    </div>
  </div>
</header>