html, body {
  font-family: 'Lato', sans-serif;
  font-size: calc(14px + 5 * ((100vw - 320px) / 1600));
  width: 100%;
  min-height: 100%;
  color: #fff;
  background: #003e48;
}

section {
  text-align: center;
}

p {
  line-height: 1.5;
  margin-bottom: 20px;
  border-bottom: 0px solid white;
  -webkit-transition: border-width .3s;
  -moz-transition: border-width .3s;
  -ms-transition: border-width .3s;
  -o-transition: border-width .3s;
  transition: border-width .3s;
}

a {
  color: #03A9F4;
}

a:hover {
  text-decoration: none;
  color: #00d6ff;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.35em;
}

h4 {
  font-size: 1.08em;
}

.text-muted {
  opacity: 0.6;
  color: white!important;
  font-size: .8em;
  text-shadow: 0 0 10px black;
}

.header-heading,
.section-heading,
.language-content h1,
.language-content h2 {
  text-shadow: 0 2px 8px black;
}

.faq h1::after,
.lang-starter-heading::after,
.content-header::after,
.header-heading::after,
.section-heading::after,
.language-content h1::after {
  content: '';
  position: absolute;
  width: 60%;
  height: 1px;
  background: #f94646;
  bottom: 0;
  left: 20%;
  box-shadow: 0 0 3px 1px #f34545;
}

/* Sections */

.section, section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}

.header-heading {
  font-size: 2em;
  padding-bottom: 23px;
  margin-bottom: 30px;
  position: relative;
}

.header-text {
  font-weight: 600;
}

.section-heading {
  font-size: 2em;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
}

@media (max-width: 992px) {
  .header-heading {
    padding-top: 40px;
  }

  .navbar-custom .navbar-brand {
    font-size: 2em;
  }
}

/* Footer Section */

.site-footer, footer {
  background: #eeeeee;
  box-shadow: 0 0 5px 0px black;
  padding: 10px 0;
  color: black;
  text-align: center;
}

.site-footer .copyright, footer p {
  font-size: 1em;
  margin: 0;
}

/* */

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.main-btn {
  background: #262626;
  border-radius: 5px;
  color: #ffffff;
  display: inline-block;
  margin: 10px auto 10px auto;
  text-align: center;
  border: 0;
  padding: 3px 10px;
  box-shadow: 0 1px 4px 0 black;
  cursor: pointer;
}

.main-btn.on-white {
  box-shadow: 0 1px 2px 0 #000;
}

.main-btn i {
  color: white;
}

.main-btn:hover,
.main-btn:focus{
  text-decoration: none;
  transform: translateY(-1px);
  color: #ffffff;
  background: rgb(50, 50, 50);
  box-shadow: 0 2px 8px 0 black;
}
.main-btn.on-white:hover,
.main-btn.on-white:focus {
  box-shadow: 0 2px 4px 0 black;
}

.main-btn:active {
  transform: translateY(+1px);
  box-shadow: 0 1px 4px 0 black;
}

.main-btn.on-white:active {
  box-shadow: 0 1px 2px 0 black;
}

@media (min-width: 992px) {
  .center-992px {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}