.navbar-custom {
  z-index: 999;
  font-size: 0.77em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 0 0 4px 0 black;
}

.navbar-custom .navbar-brand {
  font-weight: 800;
  font-size: 25px;
  padding: 15px 5px 15px;
}

.navbar-brand img{
  margin-top: -12px;
  height: 45px;
  display: inline;
}

@media (min-width: 2160px) {
  .navbar-brand img{
    margin-top: -18px;
  }
}

.navbar-custom .navbar-toggle {
  color: #777777;
  font-weight: 800;
  text-transform: uppercase;
}

.navbar-custom .nav li a {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
}

@media (min-width: 2160px) {
  html,body {
    font-size: calc( 30px + (50 - 35) * ( (100vw - 2160px) / ( 4096 - 2160) ));
  }
  .navbar-custom {
    font-size: 0.8em;
  }
  .page-scroll {
    padding: 20px !important;
  }
  .container {
    width: 65vw;
  }
}

.navbar-custom.is-fixed {
  /* when the user scrolls down, we hide the header right above the viewport */
  position: fixed;
  top: -52px;
  opacity: 0.8;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  border-bottom: 1px solid #eee;
}

.navbar-custom.is-fixed:hover {
  opacity: 1;
}

.navbar-custom.is-fixed .navbar-brand,
.navbar-custom.is-fixed .nav li > a {
  color: #626262;
}

.navbar-right {
  text-align: right;
}

.navbar-custom.is-fixed .navbar-brand:hover,
.navbar-custom.is-fixed .navbar-brand:focus,
.navbar-custom.is-fixed .nav li a:hover,
.navbar-custom.is-fixed .nav li a:focus {
  color: rgba(0, 0, 0, 1);
}
.navbar-custom.is-visible {
  /* if the user changes the scrolling direction, we show the header */
  -webkit-transform: translate3d(0, 52px, 0);
  -moz-transform: translate3d(0, 52px, 0);
  -ms-transform: translate3d(0, 52px, 0);
  -o-transform: translate3d(0, 52px, 0);
  transform: translate3d(0, 52px, 0);
}

.site-logo {
  margin: 0;
}

.promotion-sign {
  position: absolute;
  font-size: .8em;
  display: inline-block;
  top: 0;
  color: black;
  background: #f8f8f8;
  border-radius: 5px;
  padding: 4px;
  opacity: 1;
  animation: .5s popup ease-out forwards;
  animation-delay: .5s;
  box-shadow: 0 2px 4px 0 black;
  z-index: 2;
  margin-left: 25px;
  max-width: 575px;
}

.promotion-sign:before {
  content: '';
  display: block;
  height: 12px;
  z-index: -1;
  transform: skew(0deg,-38deg);
  width: 19px;
  background: #f8f8f8;
  position: absolute;
  right: 5px;
  top: 0;
}

@media (max-width: 768px){
  .promotion-sign {
    right: 0;
  }
}

@keyframes popup {
  0% {transform: translateY(0px) scale3d(.2,.2,1);}
  100% {transform: translateY(65px) scale3d(1,1,1);}
}
