.navbar-custom {
  z-index: 999;
  font-size: 0.77em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.navbar-custom .navbar-brand {
  font-weight: 800;
  font-size: 25px;
}

.navbar-brand img{
  margin-top: -8px;
  height: 40px;
  display: inline;
}

@media (min-width: 2160px) {
  .navbar-brand img{
    margin-top: -18px;
  }
}

.navbar-custom .navbar-toggle {
  color: #777777;
  font-weight: 800;
  text-transform: uppercase;
}

.navbar-custom .nav li a {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
}

@media (min-width: 2160px) {
  html,body {
    font-size: calc( 30px + (50 - 35) * ( (100vw - 2160px) / ( 4096 - 2160) ));
  }
  .navbar-custom {
    font-size: 0.8em;
  }
  .page-scroll {
    padding: 20px !important;
  }
  .container {
    width: 65vw;
  }
}

.navbar-custom.is-fixed {
  /* when the user scrolls down, we hide the header right above the viewport */
  position: fixed;
  top: -52px;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  border-bottom: 1px solid #eee;
}

.navbar-custom.is-fixed .navbar-brand,
.navbar-custom.is-fixed .nav li a {
  color: #626262;
}

.navbar-custom.is-fixed .navbar-brand:hover,
.navbar-custom.is-fixed .navbar-brand:focus,
.navbar-custom.is-fixed .nav li a:hover,
.navbar-custom.is-fixed .nav li a:focus {
  color: rgba(0, 0, 0, 1);
}
.navbar-custom.is-visible {
  /* if the user changes the scrolling direction, we show the header */
  -webkit-transform: translate3d(0, 52px, 0);
  -moz-transform: translate3d(0, 52px, 0);
  -ms-transform: translate3d(0, 52px, 0);
  -o-transform: translate3d(0, 52px, 0);
  transform: translate3d(0, 52px, 0);
}
