.cookies-info {
  width: 100%;
  z-index: 1000;
  padding: 5px 10px;
  font-size: .7em;
  background: inherit;
  color: #fff;
  display: none;
  text-align: center;
  align-items: center;
  justify-items: center;
  position: fixed;
  bottom: 0;
  box-shadow: 0 0 2px 0 black;
 }

.cookies-info p {
  margin: 0;
  padding: 5px;
  width: 100%;
}