.cookies-info {
  width: 100%;
  z-index: 999;
  font-size: .7em;
  background: inherit;
  color: #fff;
  display: none;
  text-align: center;
  align-items: center;
  justify-items: center;
  position: fixed;
  bottom: 0;
  box-shadow: 0 0 2px 0px black;
 }

.cookies-info p,
.canary-version-alert p{
  margin: 0;
  padding: 5px;
  width: 100%;
}
.canary-version-alert button,
.close-cookies-info {
  background: 0;
  border: 0;
  cursor: pointer;
  padding: 5px 10px;
  color: inherit;
}

#close-project-state-btn:hover,
.close-cookies-info:hover {
  cursor: pointer;
  outline: none;
}
