.contact {
  display: none;
  position: fixed;
  width: 97%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) translateZ(1000px);
  -moz-transform: translate(-50%, -50%) translateZ(1000px);
  -ms-transform: translate(-50%, -50%) translateZ(1000px);
  -o-transform: translate(-50%, -50%) translateZ(1000px);
  transform: translate(-50%, -50%) translateZ(1000px);
  background-color: #fafafa;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 40px 25px 0 25px;
  text-align: center;
  box-shadow: 0 0 0px 100vw rgba(0, 0, 0, 0.55), 0 0 13px 1px black;
  font-size: calc(12px + (25 - 20) * ((100vw - 320px)/ (1920 - 320)));
  z-index: 999;
}

@media (min-width: 768px) {
  .contact {
    width: 65%;
  }
}

@media (min-width: 1024px) {
  .contact {
    width: 45%;
  }
}

.contact .close-btn {
  position: absolute;
  top: 15px;
  right: 10px;
  background: none;
  border: 0;
  color: dimgrey;
  font-size: 1.2em;
}

.emailForm label {
  display: block;
  font-weight: 700;
  margin: 0 0 30px;
  color: #555;
}

.emailForm label.half {
   display: inline-block;
   width: 49.4%;
 }

@media (max-width: 1200px) {
  .emailForm label.half {
    display: block;
    width: 100%;
  }
}

.emailForm textarea {
  display: block;
  padding: 5px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 100%;
  margin: 0;
  height: 20vh;
  resize: none;
  color: #555;
}

@media (min-width: 768px) {
  .emailForm textarea {
    height: 25vh;
  }
}

@media (max-height: 670px) {
  .emailForm textarea {
    height: 15vh;
  }
}

.emailForm input {
  display: block;
  width: 100%;
  margin-top: 5px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.emailForm .error {
  background: rgb(255, 107, 98);
  position: absolute;
  margin: 0;
  display: block;
  animation: .5s slideTop;
  z-index: -1;
  border-top: 0 !important;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  max-width: 80%;
  padding: 0 5px;
  color: white;
  font-size: 0.8em;
}

@media (max-width: 500px) {
  .emailForm input[type="text"],
  .emailForm input[type="email"] {
    display: block;
  }
}

.emailForm button[type=submit] {
  width: 40%;
  cursor: pointer;
  margin-top: 35px;
  font-size: 1.1em;
}

.g-recaptcha {
  margin: 35px 2px 0 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.recaptcha-label {
  width: 306px;
  margin: auto !important;
  max-width: none;
}

@media (max-width: 375px) {
  .recaptcha-label{
    margin-left: calc((100% - 306px)/2)!important;
    transform:scale(0.9);
    -webkit-transform:scale(0.9);
    transform-origin: center center;
    -webkit-transform-origin: center center;
  }
}

.emailFormAlert {
  color: #ec3945;
  padding: 6px 0px;
  height: 50px;
  overflow: auto;
}

.emailFormAlert .fa {
  color: #555;
}

.wrongInput {
  border: solid 1px #d80000;
}

@keyframes slideTop {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.contact .close-btn:hover {
  cursor: pointer;
  outline: none;
}

@media (max-height: 465px) {
  .contact {
    height: 85vh;
    margin-top: 40px;
    overflow: auto;
  }

  .emailForm textarea {
    height: 20vh;
  }
}
