@import url('cookiesInfo.css');
@import url('laptop.css');
@import url('monokai-sublime.css');
@import url('survey.css');
@import url('emailform.css');

hr {
  border-color: rgba(42, 144, 180, 0.31);
}

.key,
.site-header {
  text-align: center;
  flex-direction: row;
}

.key,
.laptop {
  box-sizing: border-box;
}

header .text-muted,
.about-project .text-muted{
  color: white;
  font-size: .8em;
  text-shadow: 0px 0px 10px black;
}

header .text-muted a {
  color: #ff0a00;
}

.key,.keys {
  float: left;
}

.site-header {
  position: relative;
  width: 100%;
  color: #fff;
  padding: 100px 5% 20px;
}

@media (min-width: 992px) {
  .site-header .header-row {
    display:-webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .intro-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 70vh;
  }

  .site-header .lets-go {
    display: block;
  }
}

.how-works-info{
  margin: 20px 0;
}

.section {
  min-height: 100vh;
  margin-top: -1px;
}

.btn.btn-danger {
  min-width: 35%;
  font-size: 2.1em;
  background: -webkit-linear-gradient(to bottom,#de3e3e,#981313);
  background: #AA3939 linear-gradient(to bottom,#de3e3e,#981313);
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 #111111;
  margin: 15px auto 40px;
}

.btn.btn-danger.start:hover,
.btn.btn-danger.start:focus{
  transform: translateY(-1px);
  box-shadow: 0 2px 8px 0 #141414;
}

.btn.btn-danger.start:active {
  transform: translateY(+1px);
  box-shadow: 0 2px 6px 0 black;
}

.program-languages .section-heading,
.program-languages .section-heading small,
.lang-link {
  color: #fff;
}

.about-project {
  min-height: 100vh;
  padding: 0 0 20px 0;
}

.team-member {
  margin-bottom: 20px;
}

.team-member .name,
.social-buttons {
  margin-bottom: 0;
}

.team-member .name {
  margin-top: 25px;
  text-transform: none;
  font-size: 1.08em;
}

.social-buttons a {
  font-size: 1.2em;
  -webkit-transition: background .2s linear, -webkit-transform .2s linear;
  -moz-transition: background .2s linear, transform .2s linear;
  -ms-transition: background .2s linear, transform .2s linear;
  -o-transition: background .2s linear, transform .2s linear;
  transition: background .2s linear, transform .2s linear;
}

.social-buttons a:hover,
.social-buttons a:focus {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
