.canary-version-alert {
  position: absolute;
  left: 0;
  top: 50px;
}

@media (min-width: 2160px) {
  .canary-version-alert {
    margin-top: 60px;
  }
}

.canary-version-alert,
.cookies-info {
  width: 100%;
  z-index: 999;
  font-size: .7em;
  background-color: #ba2828;
  color: #fff;
  display: flex;
  text-align: center;
  align-items: center;
  justify-items: center;
}

.cookies-info {
  position: fixed;
  bottom: 0;
  background: #467399;
 }

.cookies-info p,
.canary-version-alert p{
  margin: 0;
  padding: 5px;
  width: 100%;
}
.canary-version-alert button,
.close-cookies-info {
  background: 0;
  border: 0;
  cursor: pointer;
  padding: 5px 10px;
}

#close-project-state-btn:hover,
.close-cookies-info:hover {
  cursor: pointer;
  outline: none;
}