@use 'courses.scss';

html,
body {
  color: white;
  background: #f8f8f8;
}

@media (max-width: 768px) {
  html,
  body {
    font-size: 14px;
  }
}

section {
  padding: 0 16% 60px;
  margin: 0;
}

@media (min-width: 1700px) {
  section {
    padding: 0 20% 60px;
  }
}

.language-content {
  width: 100%;
  background-color: #003e48;
  box-shadow: 0 2px 2px 0 black;
  padding: 60px 5% 40px;

  .start-container {
    padding: 0 2px 25px;
  }
}

@media (max-width: 768px) {
  .navbar-custom {
    margin-bottom: 0;
  }

  section {
    padding: 0;
  }
}

@media (min-width: 550px) and (max-width: 1024px) {
  section {
    padding: 0 6% 2% 6%;
  }
}

@media (max-width: 550px) {
  .language-content {
    box-shadow: none;
  }
}

.start-row {
  margin-top: 20px;
}

.language-content {
  .language-logo {
    background: linear-gradient(#f8f8f8, #c2c2c2);
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: 1px 2px 4px 0 #000;
    width: 250px;
    margin: 10px auto;
    animation: language-logo-animation 1.2s ease-in-out;
    transform-origin: 50% 100%;
  }

  ul,
  ol {
    text-align: left;
  }

  table {
    margin: auto;

    td {
      text-align: left;
      box-shadow: 0 0 1px 0 #000000ab;
      padding: 0 10px;

      &:last-of-type,
      &:first-of-type {
        text-align: right;
        white-space: nowrap;
      }
    }
  }
}

@keyframes language-logo-animation {
  0% {
    transform: rotate(0deg) scaleY(0.6);
  }

  20% {
    transform: rotate(-2deg) scaleY(1.05);
  }

  35% {
    transform: rotate(2deg) scaleY(1);
  }

  50% {
    transform: rotate(-2deg);
  }

  65% {
    transform: rotate(1deg);
  }

  80% {
    transform: rotate(-1deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 768px) {
  .language-content .language-logo {
    max-width: 200px;
    margin: auto;
  }
}

.language-logo img {
  padding: 30px;
  width: 100%;
  height: 100%;
}

.up-to-date {
  clear: both;
  box-shadow: 0 1px 2px 0 #000;
  color: #3b3b3b;
  background: -webkit-linear-gradient(#f8f8f8,
          #bbb);
  border-radius: 3px;
  background: linear-gradient(#f8f8f8,
          #bbb);
  display: inline-block;
  padding: 2px 10px 0;
}

.language-content h1 {
  padding-top: 2.5rem;
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
}

.lang-starter {
  padding: 1%;
  text-align: left;

  h2 {
    text-align: center;
  }
}

.language-content p {
  text-align: justify;

  img {
    margin: auto;
    display: block;
  }
}

.lang-starter-heading {
  font-size: 3.5em;
  margin-top: 10%;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .lang-starter p {
    font-size: 2vw;
    min-width: 12vw;
  }
}

.book-link {
  color: #ffffff;
  display: inline-block;
}

.book {
  display: inline-block;
  text-align: center;
  padding: 15px;
  margin-bottom: 15px;
  width: 300px;
  vertical-align: top;

  img {
    margin: 0 auto;
    max-width: 290px;
  }

  a {
    border-radius: 5px;
    color: #ffffff;
    display: inline-block;
    margin: 10px auto 10px auto;
    text-align: center;
    border: 0;
    box-shadow: 0 1px 2px 0 black;
  }
}

.helion-ksiazkasm3,
.helion-ksiazkasm4 {
  display: none;
}

.book:hover {
  color: #fff;
}

.helion-ksiazkasm4 a,
.helion-prom3 a {
  background: #222222;
  padding: 3px 8px 0;
}

.helion-ksiazkasm4 {
  a:first-of-type,
  br:first-of-type {
    display: none;
  }
}

.book {
  p {
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .helion-ksiazkasm3 {
    font-size: .7em;
  }
}

.book-section p {
  text-align: center;
}

.other-books-link {
  padding: 8px 20px;
  margin-top: 20px;
  display: inline-block;

  img {
    max-height: 40px;
    margin-right: 10px;
  }
}

.language-content hr {
  border: 1px solid rgba(255,
          255,
          255,
          0.17);
}

.official-page {
  display: inline-block;
  padding: 10px 20px 10px 10px;
  border-radius: 2px;
  margin-top: 20px;

  a {
    text-decoration: none;
  }
}

.recommended-books-list {
  padding: 30px 0;

  ul {
    list-style-type: none;

    li::before {
      content: "\f101";
      font-family: "FontAwesome", sans-serif;
      padding: 0 10px 0 0;
    }
  }
}

.book-categories {
  display: inline-block;

  span {
    text-align: left;
  }

  p {
    text-align: center;
  }
}

.book-of-a-day {
  display: inline-block;
  margin-top: 20px;
  max-width: 90vw;
}

.top-books {
  text-align: left;
  margin-top: 35px;

  .position {
    position: absolute;
    color: #f94546;
    font-size: 1.4em;
    text-shadow: 0 2px 4px black;
    margin: -10px 0 0 -25px;
    background: #222222;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    border: 0;
    padding: 0 5px;
    box-shadow: 0 1px 2px 0 black;
  }
}

.promotion {
  margin: 15px 3px 25px;
  display: inline-block;
  vertical-align: top;

  .promotion-end-info {
    vertical-align: middle;
    display: block;
    text-align: center;
  }
}

.promotion-content {
  padding: 10px 5px;
  text-align: center;
  margin-bottom: 5px;
  display: inline-block;

  .icon {
    max-height: 30px;
    display: inline-block;
    margin: 0 5px;
    vertical-align: bottom;
  }

  span {
    vertical-align: middle;
  }

  .icon:nth-of-type(2) {
    transform: scaleX(-1);
  }
}

.promotion-header {
  font-size: 1.1em;
}

.promotion img {
  display: block;
  max-width: 100%;
}

.list-header {
  margin: 0;
  text-align: left !important;
}

.popularity,
.github,
.stackoverflow,
.meetup {
  text-align: justify;
  line-height: 1.4;
  display: flex;
}

.popularity a,
.github a,
.stackoverflow a,
.meetup a {
  display: inline;
}

.popularity .fa,
.github .fa,
.stackoverflow .fa,
.meetup .fa {
  display: inline-block;
  width: 50px;
  flex-shrink: 0;
}

.language-content h4 {
  margin: 0 0 20px 0;
}

.stats-icon {
  margin-right: 10px;
}

.in-progress {
  background: linear-gradient(#f94646,
          #8f0808);
  box-shadow: 0 1px 4px 0 #212121;
}

.see-stats-btn {
  padding: 8px 20px;
  margin: 15px 0 20px;
  display: inline-block;
  max-width: 450px;
  color: white;
}

.language-content .see-stats-btn img {
  max-height: 50px;
  margin-right: 10px;
  display: inline;
  float: left;
}
