<div class="popularity"><i class="fa fa-line-chart fa-2x" aria-hidden="true"></i>
  <p>Według <a href="https://www.tiobe.com/tiobe-index/">TIOBE index</a>, język <b>{{ page.title }}</b> jest na {{ stats.TiobeIndex.currentPosition }} pozycji pod względem popularności
  {% if stats.TiobeIndex.currentPosition == stats.TiobeIndex.lastYearPosition %}
  utrzymując pozycję sprzed roku.
  {% else %}
  . W ubiegłym roku był na pozycji {{ stats.TiobeIndex.lastYearPosition }}.{% endif %}<br>
  {% if stats.TiobeIndex.currentPosition == stats.SpectrumRanking.currentPosition %}
  Według rankingu <a href="https://spectrum.ieee.org/static/interactive-the-top-programming-languages-2017">Spectrum</a> również
  {% else %}
  Z kolei według rankingu <a href="https://spectrum.ieee.org/static/interactive-the-top-programming-languages-2017">Spectrum</a>{% endif %}

  jest na {{ stats.SpectrumRanking.currentPosition }} pozycji,
  {% if stats.SpectrumRanking.currentPosition == stats.SpectrumRanking.lastYearPosition %} tak samo jak w ubiegłym roku roku.
  {% else %}
  a rok temu był na miejscu {{ stats.SpectrumRanking.lastYearPosition }}.{% endif %}</p>
</div>
