<!DOCTYPE html>
<html lang="pl">

<head>

  {% include head.html %}

  <link href="/dist/faq.css" rel="stylesheet">
  <link href="/dist/statistics.css" rel="stylesheet">

</head>
<body>

{% include nav.html %}

{% assign years = "2018,2019,2020,2021,2022,2023,2024" | split: ',' %}
{% assign current_year = page.year | downcase %}
{% assign filteredYears = years | reverse | where_exp:"year", "year != current_year" %}
{% assign yearsSizeMinus2 = years.size | minus: 2 %}

<section class="faq" data-year="{{page.year}}" id="statistics">

  <div class="container">
    <h1>Statystyki języków programowania {{page.year}}</h1>

    <p class="mt-4">
      Zobacz poprzednie lata:
      <select onchange="if (this.value) window.location.href = this.value;">
        <option value="">Wybierz rok</option>
        {%- for year in filteredYears -%}
        <option value="/statystyki-jezykow-programowania-{{ year }}/">{{ year }}</option>
        {%- endfor -%}
      </select>
    </p>

    <button class="main-btn" data-bs-target="#demo" data-bs-toggle="modal" type="button">Jak używać?</button>

    <div class="row flex-column justify-content-center">
      <div class="charts-container" style="position: relative; width: 100%; height: 100%">
        {{ content }}
      </div>
    </div>

    <p>Zobacz poprzednie lata:
      <select onchange="if (this.value) window.location.href = this.value;">
        <option value="">Wybierz rok</option>
        {%- for year in filteredYears -%}
        <option value="/statystyki-jezykow-programowania-{{ year }}/">{{ year }}</option>
        {%- endfor -%}
      </select>
    </p>

  </div>
</section>

<div aria-hidden="true" class="modal fade" id="demo" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Jak używać?</h5>
        <button aria-label="Zamknij" class="btn-close" data-bs-dismiss="modal" title="Zamknij" type="button"></button>
      </div>
      <div class="modal-body">
        <ul>
          <li><i aria-hidden="true" class="fa fa-arrow-right"></i> Możesz odznaczyć któryś z języków by wykres był
            czytelniejszy.
          </li>
          <li><i aria-hidden="true" class="fa fa-arrow-right"></i> Po najechaniu na daną kropkę zobaczysz szczegóły.
          </li>
        </ul>
        <img alt="Demo statystyki" class="img-fluid" src="/img/stats/stats-demo.gif"/>
      </div>
      <div class="modal-footer">
        <button class="main-btn on-white" data-bs-dismiss="modal" type="button">OK</button>
      </div>
    </div>
  </div>
</div>

{% include footer.html %}

<script src="/dist/statistics.js"></script>
</body>
</html>
